__pycache__/
build/
dist/
backup/
*.spec
*.xls
*.xlsx
*.csv
*.sh
*.exe
ConvertToBox/word_file.docx
Cbsm/IT-TENKO.json
CheckDirList/dir_list.txt
CheckDirList/dir_list.txt.out
ConvertToBox/pdf_file.pdf
ConvertToBox/pdf_file_keyword.pdf
ConvertToBox/powerpoint_file.ppt
ConvertToBox/powerpoint_file.pptx
ConvertToBox/word_file.doc
Cbsm/IT-TENKO.json
